@use "../../utilities/effects";
@use "../../config/colors";

.card__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card {
  user-select: none;
  padding: 1rem;
  border-radius: 4px;
  @include effects.shadow;
  background-color: colors.$secondary;
  animation: 200ms smoothIn ease-in 0s 1 forwards;
  &.active {
    background-color: colors.$active;
  }
  &__label {
    color: colors.$primary;
    text-align: left;
    font-weight: 700;
  }
  &__subtext {
    &.secondary {
      color: rgb(157, 64, 233);
    }
    &.ternary {
      color: rgb(28, 66, 36);
    }
    color: rgb(226, 86, 21);
    font-size: 0.75rem;
    font-style: italic;
    text-transform: capitalize;
    margin-top: 0.125rem;
  }
  &__text {
    text-align: center;
  }
  &-history {
    transition: 200ms filter;
    cursor: pointer;

    &_content {
      max-height: 0;
      overflow: hidden;
    }
    &.active {
      flex-grow: 1;
      & > .card-history_content {
        max-height: 20rem;
      }
    }
    &:not(.active) {
      &:hover {
        filter: brightness(0.7);
      }
    }
    display: grid;
    flex-direction: column;
    &_header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      &_company {
        text-align: right;
        font-style: italic;
        color: colors.$primary;
      }
    }
    &_content {
      transition: 200ms max-height;
    }
  }
}

@keyframes smoothIn {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
