@use "../../utilities/effects";

.route__home {
  padding: 1rem;
  &_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70vh;
    @media (max-width: 60rem) {
      grid-template-columns: 1fr;
    }
    &_tile {
      text-transform: capitalize;
      height: 100%;
      padding: 1rem;
      text-align: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      & a {
        flex-grow: 1;
        overflow: hidden;
        border-radius: 4px;
        transition: 150ms transform;
        @include effects.shadow;
        &:hover {
          transform: translateY(-4px);
        }
        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
