@use "./config/btns";
@use "./config/colors";
@use "./components/components";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Trebuchet MS, Tahoma, sans-serif;
  font-size: 16px;
}

body {
  background-color: colors.$inactive;
  color: white;
}

#root {
  display: grid;
  grid-template-areas: "nav" "main" "footer";
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
