@use "../../config/colors";

.nav_btn {
  border: none;
  background-color: transparent;
  & > div {
    display: grid;
    grid-template-areas: "top" "center" "bottom";
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 100%;
    cursor: pointer;
    align-items: center;
    & > div {
      height: 0.25rem;
      background-color: colors.$active;
      border-radius: 0.1rem;
      transition: 150ms transform ease-in;
      &:nth-child(1) {
        grid-area: top;
      }
      &:nth-child(2),
      &:nth-child(3) {
        grid-area: center;
      }
      &:nth-child(4) {
        grid-area: bottom;
      }
    }
  }
}
