@use "../../config/colors";
@use "../../utilities/effects";

.nav {
  grid-area: nav;
  grid-template-columns: auto 1fr;
  padding: 0.25rem 2rem;
  background-color: colors.$primary;
  align-items: center;
  @include effects.shadow;
  color: colors.$special;
  border-bottom: 2px solid white;
  &_logo {
    & img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;
      transition: 200ms filter;
      &:hover {
        filter: brightness(1.1);
      }
    }
  }
  &_menu {
    grid-area: menu;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    & .nav_menu_link {
      font-weight: 900;
      text-decoration: none;
      margin: 0 1rem 0 1rem;
      text-transform: capitalize;
      color: colors.$inactive;
      transition: 200ms background-color, 200ms color;
      &.active {
        color: colors.$active;
      }
      &:not(.active):hover {
        background-color: colors.$secondary;
        color: colors.$primary;
      }
      border-radius: 4px;
      font-size: 1.25rem;
    }
  }
}
