.nav {
  @media (min-width: 60rem) {
    grid-template-areas: "logo menu";
    &_btn {
      display: none;
    }
    &_menu {
      & .nav_menu_link {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
