@import "btn";
@import "common";
@import "small";
@import "large";

.nav {
  width: 100vw;
  display: grid;
  &_logo {
    grid-area: logo;
    place-self: center flex-start;
  }
  &_btn {
    grid-area: btn;
    place-self: center flex-end;
  }
  &_menu {
    grid-area: menu;
  }
}
