@use "../../config/colors";
@use "../../utilities/effects";

.skill__chart {
  padding: 1rem;
  &_grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 60rem) {
      grid-template-columns: 100%;
    }
    gap: 1rem;
    &_chart {
      position: relative;
      & > canvas {
        border-radius: 4px;
        @include effects.shadow;
        background-color: white;
      }
    }
  }
  &_filter {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    border-radius: 4px;
    overflow: hidden;
    max-width: 60rem;
    margin: auto;
    @include effects.shadow;
    &_button {
      cursor: pointer;
      background-color: colors.$primary;
      color: colors.$inactive;
      border: none;
      padding: 0.25rem 0.5rem;
      border-radius: 0;
      flex-grow: 1;
      &:not(:last-child) {
        border-right: 1px solid colors.$secondary;
      }
      &.selected {
        background-color: colors.$active;
        color: colors.$primary;
      }
    }
  }
}
