.chart__skills {
  height: 30vh;
}

.chart_container__skill_list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  &_button {
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 0.25rem 0.5rem;
    &.selected {
      background-color: green;
    }
  }
}
